# Zig build artifacts
.zig-cache/
zig-out/

# Go
go.sum
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Guardian runtime
/bin/
/var/
/srv/
*.log
